import pandas as pd

In [102]:
df=pd.read_csv(r"C:\Users\nirma\Downloads\archive (6)\winequality-red.csv")

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [103]:
df.shape

(1599, 12)

In [104]:
df.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [105]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [106]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [107]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [110]:
print('There are {}samples in the training set and {} samples in the test set'.format(x_train.shape[0], x_test.shape[0]))
print()

There are 1199samples in the training set and 400 samples in the test set

In [111]:
from sklearn.tree import DecisionTreeClassifier

In [112]:
dtree= DecisionTreeClassifier()

In [113]:
from sklearn.preprocessing import StandardScaler
#class sklearn.preprocessing.StandardScaler
sc= StandardScaler()
sc.fit(x_train)
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.fit_transform(x_test)
y_pred = dtree.fit(x_train_scaled, y_train)
dtree = DecisionTreeClassifier(criterion='gini',random_state=0) 
y_pred = dtree.fit(x_train_scaled, y_train)
dtree.predict(x_test_scaled)

array([5, 5, 5, 5, 6, 5, 5, 5, 8, 6, 7, 5, 6, 5, 6, 6, 5, 7, 7, 5, 5, 5,
       5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 5, 5, 6, 5,
       7, 5, 7, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 6, 7, 7, 5, 6, 5, 5, 7, 4,
       6, 5, 7, 5, 6, 6, 6, 6, 6, 5, 7, 5, 6, 7, 5, 7, 5, 5, 7, 7, 5, 6,
       7, 6, 7, 6, 4, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 7, 6, 6, 6, 5, 7, 5,
       7, 5, 7, 5, 5, 7, 6, 6, 5, 5, 6, 5, 6, 6, 7, 5, 7, 5, 5, 6, 6, 5,
       5, 6, 5, 5, 5, 6, 5, 6, 6, 6, 5, 5, 7, 5, 5, 6, 5, 5, 6, 6, 6, 5,
       6, 7, 6, 6, 5, 6, 7, 6, 7, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 7, 7,
       6, 5, 5, 5, 4, 6, 7, 8, 5, 6, 6, 6, 7, 5, 6, 7, 5, 7, 5, 5, 5, 6,
       5, 6, 5, 6, 5, 5, 7, 5, 5, 4, 6, 5, 8, 5, 5, 8, 6, 4, 6, 5, 5, 5,
       5, 7, 6, 6, 6, 5, 5, 7, 5, 7, 5, 4, 6, 6, 5, 6, 5, 7, 5, 5, 5, 6,
       5, 7, 5, 7, 6, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 4, 6, 7, 7, 6, 5, 6,
       5, 6, 5, 5, 6, 6, 5, 7, 5, 6, 6, 5, 5, 8, 6, 6, 7, 5, 5, 6, 6, 5,
       5, 6, 5, 6, 7, 6, 6, 5, 5, 6, 5, 7, 6, 6, 5, 5, 7, 6, 5, 5, 6, 7,
       7, 7, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 7, 6, 4, 5, 5, 7, 6, 5, 6,
       5, 7, 6, 5, 6, 5, 6, 6, 5, 5, 7, 6, 4, 6, 6, 6, 6, 5, 6, 5, 6, 7,
       5, 5, 6, 5, 5, 6, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 5, 5, 5, 5, 6, 7,
       6, 5, 6, 5, 5, 6, 5, 6, 6, 6, 7, 7, 5, 5, 6, 4, 6, 6, 6, 5, 6, 6,
       7, 5, 6, 8], dtype=int64)

In [114]:
#predict on the test features (x_test_scaled), not the test labels (y_test)
y_pred = dtree.predict(x_test_scaled)

In [115]:
from sklearn.model_selection import KFold

scores = KFold(n_splits=10, shuffle=Flase, random_state=None)

In [117]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
acc = accuracy_score(y_test,y_pred)
print(acc)
CR = classification_report(y_test,y_pred)
cm = confusion_matrix(y_test,y_pred)

0.58

In [118]:
F"the model is showing the accuracy_score of DecisionTreeClassifier is :{acc}, and classification_report is :{CR},and Confusionmatrix is :{cm}"

'the model is showing the accuracy_score of DecisionTreeClassifier is :0.58, and classification_report is :              precision    recall  f1-score   support\n\n           3       0.00      0.00      0.00         1\n           4       0.10      0.08      0.09        13\n           5       0.65      0.71      0.68       164\n           6       0.62      0.53      0.57       169\n           7       0.41      0.50      0.45        48\n           8       0.00      0.00      0.00         5\n\n    accuracy                           0.58       400\n   macro avg       0.30      0.30      0.30       400\nweighted avg       0.58      0.58      0.58       400\n,and Confusionmatrix is :[[  0   0   1   0   0   0]\n [  0   1   4   8   0   0]\n [  0   6 117  30  10   1]\n [  0   2  53  90  22   2]\n [  0   1   4  16  24   3]\n [  0   0   1   1   3   0]]'